

    <div class="container body-content">        
        <hr />
        <div class="container" ng-controller="autoSuggestController">
            <h1>AutoSuggestionControl</h1>
    
            <autosuggest items="items" prompt="Start typing..." 
                          model="name" on-select="onItemSelected()" on-typing="onInputtext"/>
        </div>
        <footer>
        </footer>
    </div>
